img.logo
{
    height: 80px;
    width: 80px;
}
a.navbar-brand
{
    font-variant: small-caps;
}
nav.navbar.navbar-expand-lg.navbar-light
{
    background-color: #A3050D;
}
.dropdown:hover>.dropdown-menu
{
    display: block;
}
.navbar-nav li:hover
{
    border-bottom: 1px solid white;
}
.dropdown-menu a
{
    color: #A3050D;
}
.dropdown-menu a:hover
{
    color: white;
    background-color: #A3050D;
}
.dropdown-menu a:hover
{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: .3s;
}
.jumbotron p
{
    text-indent: 10%;
}
.jumbotron button{
    color: white;
    background-color: #A3050D;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid #A3050D;
}
.jumbotron button:hover{
    color: #A3050D;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid #A3050D;
    transition: .41s ease-in-out;
    padding: 12px 12px 12px 12px;
}
.jumbotron.jumbotron-fluid p{
    font-family: 'Eczar';
    font-size: 18px;
}
.jumbotron.jumbotron-fluid h1{
    text-indent: 1%;
    font-family: "Cherry Swash";
    text-align: center;
}
.jumbotron.jumbotron-fluid ul{
    text-indent: 1%;
    font-family: 'Halant';
    font-size: 18px;
}
#display_id,#events,#achievement_id{
    font-family: "Crimson Text";
}
#about_text{
    font-family: "Eczar";
    font-size: 18px;;
}
div.col-md-4.col-sm-6 p{
    text-align: center;
}
div.col-md-4.col-sm-6 h2{
    text-align: center;
}
div.col-md-4.col-sm-6 img:hover{
    box-shadow: 2px 3px 20px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    transform: scale(1.04);
    transition: transform .34s;
}
#events_jumbotron h2{
    margin-top: 20px;
    font-family: "Happy Monkey";
    font-size: 35px;
}
#events_jumbotron p{
    font-family: "Crimson Text";
}
div.row.mb-2.temp_class:hover{
    border-radius: 15px;
    box-shadow: 2px 3px 30px 4px rgba(0,0,0,0.4);
    transform: scale(1.02);
    transition-duration: .35s;
    cursor: pointer;
}
.card-text{
    text-align: center;
}
#temp_{
    border-radius: 15px;
}
#temp_:hover{
    box-shadow: 2px 3px 30px 4px rgba(0,0,0,0.4);
    transform: scale(1.01);
    transition-duration: .35s;
    cursor: pointer;
}
.card-text{
    font-family: "Eczar";
}
footer.container{
    color: #b3b3b3;
}